nav{
    position:sticky;
    top: 0;
    z-index: 10;
    padding: 10px 2%;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0,0,0.2);
}

.nav-left .menu_icon{
 width: 25px;
 margin-right:25px
}

.nav-left .logo{
     width: 200px; 
     height: 45px;
     margin-left: 10px;
}

.nav-middle .search-box{
    border:1px solid #ccc;
    border-radius: 25px;
    margin-right: 15px;
    padding: 8px 12px;
    display: flex;
}

.nav-middle .search-box input{
    outline: 0;
    border: 0;
    background: transparent;
    width: 400px;
}

.nav-middle .search-box img{
    width: 15px;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius:50%;
}


/* media queries */

@media (max-width:900px) {
    .menu_icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: none;
    }
     .logo{
        width: 150px;
    }
    .nav-middle .search-box input{
        width: 100px;
    };

    
}