.sidebar{
  width: 15%;
  height: 100%;
  position:fixed;
  top: 0;
  padding-top: 80px;
  padding-left: 2%;
  background: #fff; 
  overflow: hidden;
  /* overflow hidden and position fixed page will stay as it is leaved */
}
.sidebar:hover{
    overflow-y:scroll;
    scrollbar-color: #ccc transparent;
    /* when hover scroll bar will show */
}


.shortcut-link img{
    width: 20px;
    margin-right: 20px;
}

.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
    
}

.sidebar hr{
   height: 1px;
   width: 80%;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar{
  width: 5%;
}

.small-sidebar p{
    display: none;
}

.small-sidebar .subscribed-list {
    display: none;
}
.small-sidebar hr{
    display: none;
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}